extends layout

block content
  .container
    h1.text-primary #{title}
    p.lead Elenco IBAN elaborati:

    .mb-3
      strong Stato Validazione globale:
      |  #{status || 'N/A'}

    .mb-3
      strong Numero di richieste:
      |  #{totalItems || (result && result.length) || 'N/A'}

    .mb-3
      strong Bulk Request ID:
      |  #{bulkRequestId || 'N/A'}

    if result && result.length
      table.table.table-bordered.table-striped.table-hover
        thead.thead-dark
          tr
            th #
            th Request Code
            th Ragione Sociale
            th Riferimento Legale
            th CF Rappresentante
            th IBAN
            th Tipo Conto
            th BIC Conto
            th Tipo Intestatario
            th CF Intestatario
            th P.IVA
            th Codice Fiscale
            th Stato Validazione
            th Errore
            th Banca
            th Città
            th Nazione
            th BIC Banca
        tbody
          each item, index in result
            - const account = item.account || {}
            - const holder = item.accountHolder || {}
            - const bank = item.bankInfo || {}
            - const anagrafica = item.anagraficaInfo || {}

            - let rowClass = ''
            if item.validationStatus === 'OK'
              - rowClass = 'table-success'
            else if item.validationStatus === 'PENDING'
              - rowClass = 'table-warning'
            else if item.validationStatus === 'KO' || item.error
              - rowClass = 'table-danger'

            tr(class=rowClass)
              td #{index + 1}
              td= item.requestCode
              td= anagrafica.ragioneSociale || 'N/A'
              td= anagrafica.riferimentoLegale || 'N/A'
              td= anagrafica.codiceFiscaleRapp || 'N/A'
              td= account.value || 'N/A'
              td= account.valueType || 'N/A'
              td= account.bicCode || 'N/A'
              td= holder.type || 'N/A'
              td= holder.fiscalCode || 'N/A'
              td= holder.vatCode || 'N/A'
              td= holder.taxCode || 'N/A'
              td= item.validationStatus || 'N/A'
              td= item.error || 'Nessun errore'
              td= bank.businessName || 'N/A'
              td= bank.city || 'N/A'
              td= bank.countryCode || 'N/A'
              td= bank.bicCode || 'N/A'
    else
      p.alert.alert-warning Nessun risultato disponibile.
