extends layout

block content
  h2.mb-4= title
  if flash && flash.error
    .it-alert.it-alert-danger(role='alert')= flash.error
    
  p.lead Elenco IBAN elaborati:
   .mb-3
     strong Stato Validazione globale:
     |  #{status || 'N/A'}

   .mb-3
     strong Numero di richieste:
     |  #{totalItems || (result && result.length) || 'N/A'}

   .mb-3
     strong Bulk Request ID:
     |  #{bulkRequestId || 'N/A'}

  if result && result.length
    table.table.table-striped
      thead
        tr
          th #
          th Request Code
          th Ragione Sociale
          th Riferimento Legale
          th CF Rappresentante
          th IBAN
          th Tipo Intestatario
          th P.IVA
          th P.validationStatus
      tbody
        each item, i in result
          - const info = item.anagraficaInfo || {}
          - const accountHolder = item.accountHolder || {}
          - const account = item.account || {}
          - const output = item.validationStatus || {}
          tr(class=output.validationStatus === 'KO' ? 'table-danger' : output.validationStatus === 'PENDING' ? 'table-warning' : 'table-success')
            td #{i + 1}
            td= item.requestCode
            td= info.ragioneSociale
            td= info.riferimentoLegale
            td= info.codiceFiscaleRapp
            td= account.value
            td= accountHolder.type
            td= accountHolder.vatCode
            td= output || 'N/A'
  else
    p Nessun risultato disponibile.
